// JMS CUSTOM STYLES
// Site specific overrides

body {
    #gradient > .vertical(@grayLighter, @body-background);
    &.unstyled {
        background: #fff;
    }
}

h1 { font-size: @font-size-base * 2.25; } // ~38px
h2 { font-size: @font-size-base * 2.00; } // ~32px
h3 { font-size: @font-size-base * 1.75; } // ~24px
h4 { font-size: @font-size-base * 1.25; } // ~18px
h5 { font-size: @font-size-base; }
h6 { font-size: @font-size-base * 0.85; } // ~12px

h1 small { font-size: @font-size-base * 1.75; } // ~24px
h2 small { font-size: @font-size-base * 1.25; } // ~18px
h3 small { font-size: @font-size-base; }
h4 small { font-size: @font-size-base; }

#editbar + #global-nav-wrapper,
#toolbar + #global-nav-wrapper {
    margin-top:@navbar-height;
}

#visual-site-wrapper {
  background:url(../img/hatch.png) repeat-x 0px 118px transparent;
}


#site-wrapper {
    width: 960px;
    padding: 15px;
    .center-block();
    background:#fff;
    border: 1px solid @gray;
    border: 1px solid rgba(0,0,0,.05);
    border-radius: 4px;
    .box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
}

#header {
    background:url(../img/hatch.png) repeat-x 0px 102px transparent;
    padding-bottom: 15px;
}

body.section-startseite #header {
    padding-bottom: 22px;
}

#logo {
    .size(91px, 55px);
    float: right;
    background: url(../img/logo-small.png) no-repeat 0 0 transparent;
    border: medium none;
    display:block;
    margin:0 0 10px 0;
    overflow: hidden;
    text-indent: -20000px;
}

#global-nav {
    margin: @line-height-base 0px;
    li {
    display: inline-block;
    border-right: 2px solid @link-color;
    padding-right: 5px;
    }
    li:last-child {
        border: none;
    }
}
#searchbox {
    margin-top: @line-height-base;
    text-align: right;
    .input-append input {
        border-radius: 3px 0 0 3px;
    }
    .input-append .add-on,
    .input-append .btn {
        border-radius: 0 3px 3px 0;
        margin-left: -1px;
    }
}

#main-nav {
    margin-top: @line-height-base * 4;
    li {
        float: left;
        display: block;
        margin-right: 10px;
        a {
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
            color: @grayLight;
        }
    }
    li.active a,
    li.selected a {
        color: @link-color;
        text-shadow: 0 -1px 0 rgba(0,0,0,.2);
        display: block;
    }
    li.active:after,
    li.selected:after {
        position: relative;
        top: 0;
        left: 50%;
        margin-left: -10px;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #FACD29;
        border-left: 10px solid transparent;
        content: "";
    }
}

.hero-unit {
  padding: 0px 0px 22px 0px;
  margin-bottom: @line-height-base;
  background: url(../img/hatch.png) repeat-x 0px -20px transparent;
}

// Scrollable styles
.scrollable {
  /* required settings */
  position:relative;
  overflow:hidden;
  width: 960px;
  height:290px;
  .items {
    width:20000em;
    position:absolute;
    div.item {
        float:left;
        position:relative;
        .banner {
            width: 960px;
            height: 290px;
            display: block;
            .banner-caption {
              position: absolute;
              width: 480px;
              padding: 10px 15px 5px;
              background: @grayDark;
              background: rgba(0,0,0,.5);
              color: #fff;
              &.topleft {
                left: 0;
                top: 0;
              }
              &.topright {
                right: 0;
                top: 0;
              }
              &.bottomleft {
                left: 0;
                bottom: 0;
              }
              &.bottomright {
                right: 0;
                bottom: 0;
              }
            }
        }
        }
    }
}

/* position and dimensions of the navigator */
.navi {
    margin-top: -20px;
    margin-left:@line-height-base;
    .size(200px, 20px);
    a {
        .square(10px);
        border-radius: 5px;
        float:left;
        margin:3px;
        background:#facd29;
        display:block;
        font-size:1px;
    }
    a:hover {
        background: @grayLight;
    }
    a.active {
        background: @link-color;
    }
}

#subnavigation {
    border-bottom: 1px dotted @grayLight;
    margin-bottom: @line-height-base;
}

// Splash boxes

#splash-boxes {
    .well {
        h2 {
          color:@link-color;
          background:url(../img/icon-cog.png) no-repeat 0px 0px transparent;
          padding-left: 40px;
          font-size: 16px;
          line-height: @line-height-base * 2;
        }
        &.well-1 h2 {
            background:url(../img/icon-home.png) no-repeat 0px 0px transparent;
        }
        &.well-2 h2 {
          background:url(../img/icon-suitcase.png) no-repeat 0px 0px transparent;
        }
        &.well-3 h2 {
          background:url(../img/icon-comment.png) no-repeat 0px 0px transparent;
        }
        h3 {
            color:@link-color;
            font-size: @font-size-base;
        }
    }
}

// Custom content styles

// Page header
.documentFirstHeading {
  padding-bottom: @line-height-base - 1;
  margin: @line-height-base 0;
}

.documentDescription {
    color: @link-color;
    font-weight: bold;
}

.discreet {
    color: #666;
    font-size: 85%;
    font-weight: normal;
}

#main-content {
    .visualHighlight {
        background-color: #ffb;
    }
    .pullquote {
        margin: 0 1em 0.5em 0.5em;
        font-weight: bold;
        line-height: 1.25em;
        float: right;
        width: 35%;
        clear: right;
        color: #444;
        font-size: 1.6em;
        letter-spacing: -0.08em !important;
    }
    .callout {
        background: #eee;
        padding: 1em;
        border-left: 1em solid #ccc;
        clear: both;
    }
}

/* @group Search results page */

fieldset#search-field {
//    border: none !important;
//    text-align: center;
}
input.searchPage {
//    font-size:200% !important;
}
#rss-subscription {
    float: left;
    line-height: 3em;
}
#search-results-bar .actionMenuContent {
    margin-top: 1em;
    padding: 0;
}
#search-filter {
    background: #ddd;
    margin: 0;
    padding: 0;
}
#content #search-filter fieldset {
    border: none !important;
    position: relative;
    padding: 0;
    margin: 0;
}
#content #search-filter legend {
    background: transparent;
    font-size: 1.1em;
    padding: 0.5em 0.9em;
    font-weight: bold;
}
#search-filter .field {
    background: #eee;
    padding: 1em 1.5em;
    margin: 0;
}
#search-filter .field label {
    font-weight: normal;
}
#search-filter .formControls {
    text-align:center
}
#search-results-wrapper {
    margin-top: 1em;
}
form.searchPage h1.documentFirstHeading {
    font-weight:normal; 
    letter-spacing:0;
    float: left;
    margin-right: 0.8em;
}
form.searchPage h1.documentFirstHeading .highlightedSearchTerm {
    background: transparent !important;
}
#search-results-bar > * {
    float: left;
}
#searchResultsSort{ 
    float:right;
}
#search-results-bar {
    position: relative;
    z-index: 1;
    float: left;
    width: 100%;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;    
    padding: 1em 0;
}
#search-results-bar dl.actionMenu {
    margin-bottom: 0;
}
#search-results-bar dd.actionMenuContent {
    margin-left: 0;
    padding-left: 0;
}
#search-results-bar dt.actionMenuHeader a {
    border-bottom: none;
}
#search-results-bar dt.actionMenuHeader a::after {
    content: " ▼";
}
#search-results {
    padding: 1em;
}
.searchResults {
    margin-top: 0;
}
#ajax-search-res {
    display: none;
}

/* @end */

/* @group Image alignment classes */
.image-left {
   float: left;
   margin: 0.5em 1em 0.5em 0;
}
.image-right {
   float: right;
   margin: 0.5em;
}
.image-inline {
   float: none;
}
dd.image-caption {
    text-align: left;
    padding: 0 0 0 3px; /*image padding+border with*/
    margin: 0;
    color: #666;
    font-size: 85%;
}

/* @end */


#sidebar {
    .well {
        h2 {
            color:@link-color;
            background:url(../img/icon-cog.png) no-repeat 0px 0px transparent;
            padding-left: 40px;
        }
        hr {
            border: 0;
            border-top: 1px dotted @grayLight;
        }
    }
}

#network-box {
    margin-top: @line-height-base;
    .network-header {
        background:url(../img/criss-cross.png) repeat-x 0px 60% transparent;
        h2 {
            background: #fff;
            font-size: @font-size-base * 1.5;
            width: 320px;
        }
    }
}

#partner-links {
    border: 1px solid red;
    li {
        display: inline-block;
        margin-right: 10px;
        a,
        span {
            background:url(../img/sprite-logos.png) no-repeat 0px 0px transparent;
            display: block;
            text-indent: -9999px;
            overflow: hidden;
            .size(80px, 70px);
        }
        &#linkitem-1 a {
            background-position: -950px 0px;
            .size(90px, 200px);
        }
        &#linkitem-2 a {
            background-position: -100px 0px;
            .size(80px, 120px);
        }
        &#linkitem-3 span {
            background-position: -260px 0px;
            .size(80px, 170px);
        }
        &#linkitem-4 a {
            background-position: -470px 0px;
            .size(80px, 80px);
        }
        &#linkitem-5 a {
            background-position: -570px 0px;
            .size(80px, 160px);
        }
        &#linkitem-6 a {
            background-position: -765px 0px;
            .size(80px, 180px);
        }
    }
}

#sm-icons {
    li {
        display: inline-block;
        a {
        background: url(../img/icon-social.png) no-repeat -36px 0px transparent;
        display: block;
        .square(35px);
        text-indent: -9999px;
        overflow: hidden;
        }
    }
    li:first-child a {
        background-position: 0px 0px;
    }
    li:last-child a {
        background-position: -70px 0px;
    }
}

footer {
    .clearfix();
    .container();
    display: block;
    p {
        padding: @line-height-base;
        color:@link-color;
    }
}
